@media screen and (min-width:768px ) and (max-width: 992px){
    body{
        background-image: linear-gradient(rgb(59, 59, 240) , aqua );
    }
    #login{
        width: 90vw;

    }
    #imagen{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formul치rio{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(rgb(59, 59, 240) , aqua );
    }
    #login{
        width: 950px;
    }
    #imagen{
        float: left;
        width: 50%;
        height: 100%;
    }
    #formul치rio{
        float: right;
        width: 50%;
    }
    #formul치rio h1{
        font-size: 2em;
    }
    #formul치rio p{
        font-size: 1.2em;
    }
}