*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 1px 1px 7px 0px black;

    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

#imagen{
    display: block;
    background: aqua url(../imagens/fundo-login.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right center;

}

#formulário{
    display: block;
    padding: 10px;

}
#formulário h1{
    text-align: center;
    margin-bottom: 10px;
}
#formulário p{
    font-size: 0.8;
}